<!DOCTYPE html>

<html>
    <head>
      <meta charset="utf-8">
      <title>Gemfire QUnit Tests</title>
      <link rel="stylesheet" href="http://code.jquery.com/qunit/qunit-1.11.0.css">
    </head>

    <body>
      <div id="qunit"></div>
      <div id="qunit-fixture"></div>

        <script src="~/Scripts/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/qunit/qunit-1.11.0.js"></script>
        <script src="~/Scripts/sinon-1.6.0.js"></script>
        <script src="~/Scripts/jquery.signalR-1.0.1.js"></script>
        <script src="~/Scripts/foundation.min.js"></script>
        <script src="~/Scripts/knockout-2.2.1.debug.js"></script>
        <script src="~/Scripts/sammy-0.7.4.js"></script>
        <script src="~/Scripts/jquery.cookie.js"></script>
        <script src="~/Scripts/underscore.js"></script>
        <script src="~/signalr/hubs"></script>

        <script src="~/app/durandal/amd/require.js" data-main="app/test-main"></script>        
    </body>
</html>